# Maven
target/

# Eclipse
.metadata/
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Java compiled files
*.class

# OS files
.DS_Store
Thumbs.db

# JVM crash logs
hs_err_pid*
replay_pid*